<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.jwk.samu">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapsKey}" />

        <service
            android:name=".fcm.FirebaseInstanceIDService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".view.main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.pushnotification.PushNotificationActivity"
            android:exported="true" />
        <activity
            android:name=".view.condition.ConditionActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.note.NoteActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.tracker.TrackerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.adm.tickets.TicketsActivity"
            android:exported="true"
            android:label="Samu adm"
            android:screenOrientation="portrait"
            android:taskAffinity="@string/task_affinity_adm">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.adm.ticket.TicketActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:taskAffinity="@string/task_affinity_adm" />
    </application>

</manifest>